*{
    box-sizing: border-box;
    margin: 0;
}
                       /*-----------------------HEADER--------------------*/
header{
    height: 500px;
  width: 100%;
    background: #642b73; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, hsla(288, 44%, 36%, 0.658), hsla(340, 53%, 50%, 0.658)),url(fondo.jpg);/* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, hsla(288, 44%, 36%, 0.658), hsla(340, 53%, 50%, 0.658)),url(fondo.jpg);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: relative;
  background-attachment: fixed;
  position: relative; 
  margin-top: 0;
}
                    /*-------------------BARRA DE NAVEGACION---------------------*/
nav{
   text-align: right;
    padding:30px 50px 0px 0px;

}
.encabezado_flex a{
    color: white;
    text-decoration: none;
    margin:20px 5px;
}
.encabezado_flex a:hover{
    text-decoration: underline;
}
.wave{
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
}
.encabezado{
    border-radius: 2px;
    border-style: solid;
    border-color: white;
    width: 600px;
    height: 100px;
    margin-top: 150px;
}
.encabezado_flex{
    display: flex;
    justify-content: space-evenly;
}
.encabezado p{
    text-align: center;
    font-size: 20px;
    color: white;
}
 h1{
    font-size: 50px;
    color: white;
    text-align: center;
}
                /*---------------------SECCION-QUIENES SOMOS-------------------*/
#fondo-quien{
    background: #4e54c8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
}
.quienes_seccion_grid{
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8f94fb, #4e54c8);
}
article section img{
    height:200px;
    width: 200px;
}

.targeta{
    width:250px;
    height: 450px;
    border-style: solid;
    border-color:orangered;
    border-radius: 10px;
    box-shadow: 1px 1px 1px;
  
    

}

.img-fond{
  margin-left:25px;
}
h2{
    font-size: 40px;
    color: white;
    text-align: center;
    
}
                  /*-----------------SECCION-NUESTROS TRABAJOS-----------------*/

.nues-back{
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
}
.nues-trab{
    border-style: solid;
    border-radius: 10px;
    border-color: orangered;
    margin-top: 20px;
 
    box-shadow: 10px 10px 10px;
}
h3{
    color: white;
    font-size: 40px;
    text-align: center;

}
                          /*--------------------SECCION-FOOTER-----------------*/

footer{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow: hidden;
}
h4{
    color: white;
}
footer p{
    color: white;
}
footer img{
    width:30px;
    height:30px;
    
    margin-right: 20px;
}
.ico-info{
    float: right;
}
#conta{
    text-align: right;
    margin-right: 20px;
}
/*--------------------------MEDIA QUERYS--------------------------------------*/
@media (min-width: 768px){
    .quienes_seccion_grid{
        display:flex;
        justify-content:space-between;   
    }
    .encabezado{
        width: 400px;
    }

}
@media (min-width:768px) {
    .nues-trab{
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       justify-content: center;
       align-items: center;
       width: 100%;
       height: 100%;
       
    }
    .nues-trab img{
        margin-left: 25px;
        margin-top: 10px;
    }
}
@media (max-width: 480px){
    .quienes_seccion_grid{
        display:flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        row-gap: 15px;
    }
    .encabezado_flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .encabezado_flex a{
        font-size: 30px;
    }
    .encabezado{
        margin-top: 0px ;
        width: 460px;
    }
    
}
@media (max-width: 480px){
    .nues-trab{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
       justify-content: center;
       align-items: center;
       width: 100%;
       height: 100%;
       
    }
    .nues-trab img{
      margin-left: 13px;
      margin-bottom: 10px;
      margin-top: 15px;
    }
    }

@media (min-width: 1200px){
    .encabezado{
        width: 600px;
    }
    .nues-trab{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
       justify-content: center;
       align-items: center;
       width: 100%;
       height: 100%;
       
    }
    .nues-trab img{
        margin-left: 60px;
    }
    
}
@media (max-width: 375px){
    .encabezado{
        width: 350px;
    }
    .nues-trab{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
       justify-content: center;
       align-items: center;
       
    }
    .nues-trab img{
      margin-bottom: 10px;
      width:170px;
      margin-left: 5px;
      margin-top: 10px;
    }
    
}
@media (max-width:384px) {
    .nues-trab img{
        width: 160px;
    }
}